<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h4 class="information_text">Company Name</h4>
                <p class="dummy_text">Company Description</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="information_main">
                    <h4 class="information_text">Useful Links</h4>
                    <p class="many_text">Links </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="information_main">
                    <h4 class="information_text">Contact Us</h4>
                    <p class="call_text"><a href="#">Moblie Number</a></p>
                    <p class="call_text"><a href="#">mail Id</a></p>
                    <p class="call_text"><a href="#">Address</a></p>
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
                            <li><a href="#"><img src="images/instagram-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_section">
            <h1 class="copyright_text">
                Copyright 2023 All Right Reserved <b>Light's Entertainment</b>
                </h1>
        </div>
    </div>
</div>